<navbar></navbar>
 <br>
  <div class="container">
    <div class="row">
        <div class="col-3 text-center">
            <span class="text-secondary">BRAND</span>
            <input type="text" class="form-control"  ng-model="brand_name" placeholder="Enter Brand">
        </div>
        <div class="col-3 text-center">
            <span class="text-secondary">STYLE</span>
            <select class="form-select" ng-model="style_name" ng-options="x for x in style">
            </select>
        </div>
        <div class="col-3 text-center">
            <span class="text-secondary">COUNTRY</span>
            <select class="form-select" ng-model="country_name" ng-options="x for x in country">
            </select>
        </div>
        <div class="col-3 text-center">
            <span class="text-secondary">SORT BY STAR</span>
            <select class="form-select" ng-model="sort_name" ng-options="x.name for x in [{'name':'Low-High','sort':'Stars'},{'name':'High-Low','sort':'-Stars'}]">
            </select>
        </div>
    </div><br/>
    <div class="row">
        <div class="col-12 text-center" ng-if="rest_data.length==0||rest_data==undefined||rest_data==[]">
            <div class="spinner-grow text-info" role="status" style="width:250px;height:250px;">
                <span class="sr-only">Loading...</span>
              </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 text-center mx-auto" ng-repeat="card in rest_data | filter : brand_name | orderBy : sort_name.sort" ng-if="(country_name==''||country_name=='All Countries' || country_name==undefined || country_name == card.Country) && (style_name==''||style_name=='All Styles' || style_name==undefined || style_name == card.Style)">
            <div class="card mx-auto" style="width: 18rem;">
                <a href="#!/product/{{$index}}" target="_blank">
                    <img ng-src="{{img_data[getRnd_0_6()].Image}}" style="width: 287px; height: 175px; object-fit: cover;" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                  <h5 class="card-title">{{card.Brand}}<small class="text-muted" style="font-size: 12px;"> ({{card["Top Ten"]}})</small></h5>
                  <p class="card-text">{{card.Variety}}</p>
                  <div class="Stars"  ng-if="isNumber(card.Stars)" style="--rating: {{card.Stars}};" aria-label=""></div>
                  <small class="text-muted" ng-if="!isNumber(card.Stars)">No rating given!</small>
                  
                </div>
            </div><br>
        </div>
    </div>
  </div>